<% if (current_user.id == @wiki.user_id || current_user.role == "admin") %>
  <h1>Edit Wiki</h1>
  <div class="row">
    <div class="col-md-8">
      <%= form_for @wiki do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control', placeholder: "Enter a Wiki title" %>
        </div>
        <div class="form-group">
          <%= f.label :body %>
          <%= f.text_area :body, rows: 16, class: 'form-control', placeholder: "Enter a wiki body" %>
        </div>
        <% if policy(@wiki).can_create_private_wiki? %>
        <div class="form-group">
          <%= f.label :private %>
          <%= f.check_box(:private) %>
        </div>
        <% end %>
        <div class="form-group">
          <%= f.submit "Save", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <p><br />
    You are not authorized to edit this wiki.
  </p>
<% end %>