<h1>Blocipedia: Whacky World of Wikis</h1>

<div class="row">
  <p><br />
  <table class="table table-bordered">
    <thead>
      <tr>
      </tr>
      <% @wikis.each do |wiki| %>
        <tr>
          <td><%= link_to wiki.title, wiki %></td>
          <td><%= wiki.user_id %></td>
          <% if current_user %>
          <td><%= wiki.private %></td>
          <td><%= link_to "Edit", edit_wiki_path(wiki) %></td>
          <% if policy(wiki).destroy? %>
            <td><%= link_to "Delete", wiki, method: :delete, data: { confirm: 'Are you sure you want to delete this wiki?' } %></td>
          <% end %>
          <td><%= link_to "Export", '#' %></td>
        </tr>
          <% end %>
      <% end %>
    </table>
  </p>
</div>

<p>
  <div class="row">
    <div class="col-md-6">
      <% if current_user %>
        <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</p>