<h1><%= markdown @wiki.title %></h1>
<div class="row">
  <div class="col-md-8">
    <p><%= markdown @wiki.body %></p>
    <p>
      <% if policy(@wiki).update? %>
        <br /><br />
          Add Collaborators to the <em><b><%= @wiki.title %></b></em> wiki (showing all users)
          <%= form_for(@wiki) do %>
            <table class="table table-striped table-bordered">
              <thead>
                <tr style="background-color:aliceblue;">
                  <td>Name</td>
                  <td>Email</td>
                  <td>Give Access</td>
                </tr>
              </thead>
              <tbody>
              <% @users.each do |user| %>
                <tr id="user-<%= user.id %>">
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                  <td><%= check_box_tag :user_ids, user.id, user.collaborates_on?(@wiki), name: 'wiki[user_ids][]' %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
            <div class="col-md-6">
              <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
            </div>
            <div class="col-md-2">
              <%= submit_tag(value="Share Wiki") %>
            </div>
          <% end %>
    </p>
  </div>
    <% end %>
</div>
<br /><br />